include ./_mixins.jade
div.container
  div.component
    +compenent_head('graduation-cap', 'Education')
    div.component-body
      +education_item('BSc Computer Engineering', 'Yıldız Technical University','3.70/4, Istanbul/Turkey', 'Turkish Taught, Top 3th Student')
      +education_item('BSc Computer Engineering','Linköping University', 'Linköping/Sweden','English Taught, Erasmus')
