include ./_mixins.jade
div.container
  div.component
    +compenent_head('briefcase', 'Work Experience')
    div.component-body
      +experience_item('Junior Java Developer @ ZKTeco Europe', 'February 2015 - present','Responsible for maintenance and enhancement of Android applications. Development of Restful backend service using Scala Play Framework. Not only upgradation of used technlogies but also implementation of new features for Thrift Server. Testing new features whether they work as expected.')
      +experience_item('IAESTE Long Term Intern @ ZKTeco Europe', 'July 2014, January 2015 ', 'Responsible for creation of various Desktop Applications as Thrift client from scratch to end using Java technologies.')
