footer#footer
  div.twin Copyright &copy; #{space}
    a(href='http://github.com/kairos34', target='_blank') Alper Özaslan
    |.
  div.twin
    -var space= ' '
    | Powered by #{space}
    a(href='http://github.com/ozluy', target='_blank') Yusuf Özlü
    |.
