include ./_mixins.jade
div.container
  div.component
    +compenent_head('code', 'Skills & Competences')
    div.component-body
      +skill_item('Programming Languages','Java','Scala','Groovy','C','C#')
      +skill_item('Frameworks','Play 2.0','Apache Thrift', 'Retrofit', 'Hibernate','Primeface')
      +skill_item('Bonus', 'Git','Github', 'Android','MySql', 'PostgreSql', 'Bootstrap','JSON', 'XML', 'Jquery','Html','Css','Jenkins')