include ./_mixins.jade
div.container.summary
  div.component
    +compenent_head('user', 'Summary')
    div.component-body
      +summary_item('Alper Özaslan', 'Have excellent technical skills, communication skill, and goal-focused professional offering 2 years of experience in Computer Industry. Motivated and enthusiastic by new challenges and tasks and take excellent approach to achieve success in all projects. Self-learner who tries to improve technical skills by attending online courses. Experienced in working with different programming languages such as Java,Scala and C#.Have expertise in not only Java for creating Android applications but also Scala for RESTful backend server.Currently working as Java developer interested in JVM languages.')