$color_smoothwhite:#bcbcc7;
$color_navy:#005D5D;
$color_navylight:#009393;
$color_blue:#004141;
$color_lightblue:#007777;
$color_white:#ffffff;



//Font Sizes
$small:12px;
$default:16px;
$medium: 24px;
$special: 36px;
$large: 48px;

//Font weights
$light: 300;
$regular: 400;
$bold: 700;
